<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{common/head :: commonHead}"></th:block>
    <title>CrystallineConflict</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

    <th:block th:replace="~{common/header :: header}"></th:block>

    <main class="main-container">
        <nav class="menu">
            <a class="guide" href="javascript:void(0);" id="job-list-btn">가이드</a>
            <a class="signal" href="javascript:void(0);" id="signal-btn">등급전 신호기</a>
            <a class="patch" href="https://www.ff14.co.kr/news/notice/view/2865#pvp">7.5 패치노트</a>
        </nav>

        <hr>
        <br>
        <br>

        <div id="dynamic-content">
        </div>

    </main>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/job-list.js}"></script>
    <script th:src="@{/js/signal.js}"></script>

</body>

</html>