<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{common/head :: commonHead}"></th:block>
    <title>CrystallineConflict</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>

<body>

    <th:block th:replace="~{common/header :: header}"></th:block>
    <main>

        <nav class="menu">
            <a class="tab" href="https://www.ff14.co.kr/news/notice/view/2865#pvp">7.5 패치노트</a>
            <a class="tab" th:href="@{/signals/match}">등급전 신호기</a>
        </nav>
        <hr>
        <br>
        <br>

        <section class="job-group">

            <h2>TANK</h2>

            <div class="job-grid">

                <a th:each="job : ${tanks}" th:href="@{/job/{id}(id=${job.jobId})}">

                    <img th:src="@{${job.iconPath}}">
                    <p th:text="${job.jobName}"></p>

                </a>

            </div>

        </section>

        <section class="job-group">

            <h2>HEALER</h2>

            <div class="job-grid">

                <a th:each="job : ${healers}" th:href="@{/job/{id}(id=${job.jobId})}">

                    <img th:src="@{${job.iconPath}}">
                    <p th:text="${job.jobName}"></p>

                </a>

            </div>

        </section>

        <section class="job-group">

            <h2>MELEE</h2>

            <div class="job-grid">

                <a th:each="job : ${melees}" th:href="@{/job/{id}(id=${job.jobId})}">

                    <img th:src="@{${job.iconPath}}">
                    <p th:text="${job.jobName}"></p>

                </a>

            </div>

        </section>

        <section class="job-group">

            <h2>RANGED</h2>

            <div class="job-grid">

                <a th:each="job : ${rangeds}" th:href="@{/job/{id}(id=${job.jobId})}">

                    <img th:src="@{${job.iconPath}}">
                    <p th:text="${job.jobName}"></p>

                </a>

            </div>

        </section>

        <section class="job-group">

            <h2>CASTER</h2>

            <div class="job-grid">

                <a th:each="job : ${casters}" th:href="@{/job/{id}(id=${job.jobId})}">

                    <img th:src="@{${job.iconPath}}">
                    <p th:text="${job.jobName}"></p>

                </a>

            </div>

        </section>

    </main>

</body>

</html>