.menu {

    width: 1200px;

    margin: 0 auto;

    display: flex;

    justify-content: flex-start;

    gap: 56px;

    margin-bottom: 25px;
}

.tab {

    padding: 0;

    margin: 0;

    border: none;

    background: none;

    color: rgb(34, 30, 43);

    font-weight: bold;

    text-decoration: none;

    transition: .2s;
}

.tab:hover {

    color: rgb(59, 144, 255);
}

.tab.active {

    color: rgb(59, 144, 255);
}

.menu a {
    color: rgb(34, 30, 43);
    text-decoration: none;
}

.job-group {

    margin-bottom: 14px;
}

.job-group h2 {

    color: #3b90ff;

    margin-bottom: 25px;

    border-left: 6px solid #3b90ff;

    padding-left: 15px;

    font-size: 22px;
}

.job-grid {

    display: grid;

    grid-template-columns: repeat(6, 120px);

    gap: 20px;

    justify-content: start;

}

.job-grid a:hover img {

    transform: scale(1.08);
}

.job-grid p {

    margin-top: 25px;

    text-align: center;

    color: rgb(34, 30, 43);

    width: 100%;

}

.job-grid a {

    display: flex;

    flex-direction: column;

    align-items: center;

    text-decoration: none;

    width: 90px;
}

.job-grid img {

    width: 90px;
    height: 90px;
    transition: 0.3s;
}